@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "awesome-bootstrap-checkbox";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14pt;
  color: #555;
}

.large-user {
  background-color: #555;
  border-radius: 100%;
  padding: 10px;
  margin: 5px 10px 5px 0;
  font-size: 150%;
  color: #7ec0f8;
}

#api-loading {
  width: 30px;
  display: none;
}

#error-container,
#no-student {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(255,70,70,0.4) ;
  margin: 10px 0px 15px;
}

.control-label {
  color: #ff7777;
  font-size: 90%;
  font-weight: normal;
}

.dropdown-error {
  margin-top: 27px;
  margin-bottom: -25px;
  margin-right: 30px;
}

.exclaim {
  font-size: 160%;
  padding: 5px 10px;
}

.check-label-center {
  padding: 0px 10px;
}

// Fixes centering issue by making the checkbox larger to
// fill the space.
#google-sheet-query .checkbox input[type="checkbox"] {
  padding: 20px;
}

#google-sheet-query .checkbox label::before {
  height: 25px;
  width: 25px;
}

#google-sheet-query .checkbox label::after {
  height: 25px;
  width: 25px;
  font-size: 100%;
}

.search-title {
  font-size: 150%;
  font-weight: bold;
  padding: 0px 10px;
  margin: 5px 0px 20px;
  border-left: 6px solid #337ab7;
}

.school-radio {
  background-color: rgba(126,192,248,0.2);
  padding: 10px 40px;
  border-radius: 5px; 
}

.amount-section-container {
  background-color: rgba(126,192,248,0.2);
  padding: 30px 30px;
  border-radius: 5px; 
}

#error-warning-amount {
  color: #ff7777;
}

.form-group-initial {
  background-color: rgba(126,192,248,0.9); 
  padding: 30px;
  border-radius: 10px;
}

.form-control {
  width: 100%;
  margin: 20px 0px;
}

.form-group .radio label::after {
  padding: 8px;
  margin: 12px 10px 0px -25px;
}


.form-group .radio label::before {
  padding: 10px;
  margin: 12px 10px 0px -25px;
}

.school-title-label { 
  display: inline-block;
  margin-top: 10px;
}


.side-radio {
  display: inline-block;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

#logo-image {
  height: 65px;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin: 5px 0px 0px 15px;
  padding: 0px;
}

.name-title, .school-title, .amount-title {
  border-left: 6px solid rgba(126,192,248,0.5);
  display: inline-block;
  text-align: center;
  padding: 5px 10px;  
}

.return {
  margin-right: 20px;
  margin-top: 20px;
}

.app-header {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  color: #555;
}

div[class$="-filter-container"] {
  border: 1px solid #888;
  border-radius: 3px;
  display: none;
  padding: 10px 30px;
  margin: 10px 0px 20px;
}

#app-nav {
  border-bottom: 2px solid #ddd;
}

#first-scholar-amount, #second-scholar-amount {
}

.middle-text {
  padding: 20px;
  text-align: center;
  font-size: 140%;
  width: 100%;
}

.output-title {
  display: inline-block;
  width: 200px;
}

.options-panel {
   float: right;
}

.footer {
   text-align: center;
   padding: 10px;
}

.divider {
  border-bottom: 3px solid #555;
  margin: 10px auto;
}

.student-overview-title {
  margin-top: 15px;
}

.student-overview-personal {
  background-color: #ddd;
  border-radius: 5px;
  width: 40%;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.student-overview-container {
  background-color: #eee;
  padding: 15px 35px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#student-overview {
  display: none;
}

.student-overview-name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.student-overview-address {
  font-style: italic;
}

.student-overview-scholarship {
  float: right;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  background-color: rgba(149,209,149,0.5);
  text-align: center;
  margin: 5px auto 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


