@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 20px;
}

.large-user {
  background-color: #555;
  border: 5px solid #68B3CC;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  font-size: 150%;
  color: #68B3CC;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

#logo-image {
  height: 65px;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin: 5px 0px 0px 15px;
  padding: 0px;
}

.name-title, .school-title, .amount-title {
  background-color: #eee;
  display: inline-block;
  font-style: italic;
  border: 1px solid #888;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: -6px;
  margin-left: -16px;
  text-align: center;
  padding: 10px 5px;  
  width: 130px;
}

.return {
  margin-right: 20px;
  margin-top: 20px;
}

.app-header {
  display: inline-block;
  font-weight: 100;
  font-style: italic;  
  text-align: center;
  margin: 20px 10px;
}

div[class$="-filter-container"] {
  border: 1px solid #888;
  border-radius: 3px;
  display: none;
  padding: 5px 15px;
  margin: 10px 0px 20px;
}

#app-nav {
  border-bottom: 2px solid #ddd;
}

#first-scholar-amount, #second-scholar-amount {
  display: inline-block;
  width: 45%;
}

.middle-text {
  display: inline-block;
  width: 5%;
  text-align: center;
}

.output-title {
  display: inline-block;
  width: 200px;
}

.options-panel {
   float: right;
}

.footer {
   text-align: center;
   padding: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
